services:
  server:
    build:
      context: .
      target: runner
    restart: unless-stopped
    env_file:
      - stack.env
    privileged: true
    networks:
      - default
      - proxy

networks:
  proxy:
    external: true
