@import "tailwindcss";

@plugin 'tailwindcss-animate';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: #0d151f;
  --color-foreground: #dd5f32;
  --color-highlight: #ff9f60;
}
